/** mixin
/**************************************/
@mixin tran() {
	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
}
/** common
/**************************************/
.wrap600 {
	width: 93.75%;
	margin-left: auto;
	margin-right: auto;
}

.wrap580 {
	width: 90.63%;
	margin-left: auto;
	margin-right: auto;
}

article p.tx {
	line-height: 1.8;
}
/** header
/**************************************/
header {
	text-align: center;
	padding: 10px 0 0 !important;
	border-bottom: none !important;
}
@media screen and (max-width: 640px) {
	header h1 img {
		width: auto !important;
	}
}
/** trigger
/**************************************/
div#trigger {
	position: fixed;
	left: 0;
	top: 15px;
	width: 100%;
	text-align: right;
	z-index: 102;

	div {
		overflow: hidden;
	}

	a {
		display: block;
		width: 24px;
		height: 24px;
		float: right;
		background: url("../img/sp/btn_trigger.png") no-repeat left top;
		background-size: 24px auto;

		&.close {
			background-image: url("../img/sp/btn_close.png");
		}
	}
}
/** gnav sp
/**************************************/
nav {
	&#gnav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 101;
		background: rgba(0, 0, 0, 0.9);

		ul {
			vertical-align: middle;
			text-align: center;
			padding: 30px;

			li {
				border-bottom: 1px solid #494949;

				&:last-child {
					border-bottom: none;
				}

				a {
					color: #fff;
					font-size: 1.3em;
					line-height: 1.2;
					text-align: center;
					letter-spacing: 0.1em;
					text-decoration: none;
					padding: 10px 0;
					display: block;
				}
			}
		}
	}

	&#bnav {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 100;

		ul {
			background: #da3233;
			overflow: hidden;

			li {
				width: 50%;
				float: left;
				text-align: center;

				img {
					margin-right: 5px;
					vertical-align: middle;
				}

				&:last-child {
					border-left: 1px solid #fff;
				}

				a {
					text-decoration: none;
					color: #fff;
					font-size: 1.2em;
					display: inline-block;
					padding: 10px 0;
				}
			}
		}
	}
}
/** headline
/**************************************/
div.headline {
	position: relative;

	h2 {
		background: #e8b142;
		color: #fff;
		font-size: 1.2em;
		font-weight: normal;
		text-align: center;
		display: table;
		margin: 0 auto;
		line-height: 1.4;
		position: absolute;
		left: 50%;
		width: 90px;
		height: 90px;
		margin-left: -45px;
		z-index: 3;
		font-family: "Times New Roman","游明朝", YuMincho,"ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro","HGS明朝E","メイリオ","ＭＳ Ｐ明朝","MS PMincho",Meiryo, serif;
	}
}

article {
	&#column div.headline h2,
	&#coordinate div.headline h2,
	&#faq div.headline h2,
	&#food div.headline h2,
	&#party div.headline h2,
	&#plan div.headline h2,
	&#voice div.headline h2 {
		top: -40px;
	}
}

div.headline {
	h2 span {
		display: table-cell;
		vertical-align: middle;
	}

	> div {
		text-align: center;
		padding-top: 60px;
	}
}

article#location div.headline > div {
	padding-top: 100px;
}

h3.lead01 {
	font-size: 2.0em;
	font-weight: normal;
	text-align: center;
	margin-top: 15px;
	line-height: 1.6;
}
/** main visual
/**************************************/
.mv {
	width: (600/640)*100%;
	margin: 15px auto;
}
/** fear
/**************************************/
img {
	&.zexybtn {
		margin-top: -50px;
	}

	&.zexybtn_2 {
		margin-top: -25px;
	}
}
/** location
/**************************************/
article {
	&#location {
		position: relative;
		padding: 40px 0 80px;

		div {
			&.frame {
				position: relative;
				z-index: 2;
			}

			&.bg {
				width: 100%;
				height: 110px;
				background: url("../img/sp/location_bg.jpg") no-repeat center center;
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
			}

			&.pic {
				position: absolute;
				left: 0;
				top: 15px;
				z-index: 1;
				width: 100%;
				text-align: right;

				img {
					width: 36.88%;
				}
			}
		}
	}

	&#party {
		background: url("../img/sp/party_bg.png");
		position: relative;
		margin-top: 60px;
		padding-bottom: 60px;

		> div {
			position: relative;
			z-index: 1;
		}

		div {
			&.frame {
				z-index: 1;
				position: relative;
			}

			&.bg {
				width: 100%;
				background: #fff;
				position: absolute;
				z-index: 0;
				left: 50%;
				top: -15px;
				margin-left: -50%;
				z-index: 0;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
			}
		}

		ul {
			text-align: center;

			li {
				margin-top: 25px;

				p {
					margin: 5px auto 0;
				}
			}
		}
	}

	&#column {
		background: #f9f6ec;
		position: relative;
		z-index: 1;
		padding-bottom: 60px;
		border-top: 2px solid #fff;

		.bg {
			position: absolute;
			z-index: 0;
			right: 0;
			top: -40px;
			text-align: right;
			width: 100%;

			img {
				width: 35%;
			}
		}

		.slideshow {
			margin-top: 20px;

			ul {
				li {
					position: relative;
					margin: 0 5px;
					@include tran;

					&:hover {
						opacity: 0.6;
					}

					a {
						position: absolute;
						width: 100;
						height: 100%;
						display: block;
						left: 0;
						right: 0;
						z-index: 5;
					}

					.pic {
						img {
							width: 100%;
							height: auto;
						}
					}

					.info {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						background: rgba(0, 0, 0, 0.85);
						padding: 15px 12px 12px;

						.date {
							color: #d0d0d0;
							font-style: italic;
							font-size: 1.4em;
						}

						.tx {
							color: #fff;
						}
					}
				}
			}
		}
	}

	&#food {
		padding-bottom: 40px;

		div {
			&.bg {
				position: absolute;
				z-index: 1;
				left: 0;
				top: -30px;
				width: 100%;

				img {
					width: 41.72%;
				}
			}

			&.head {
				background: url("../img/sp/food_bg.jpg") right center;
				background-size: cover;
				padding-bottom: 20px;
				position: relative;

				p.tx {
					color: #fff;
					text-align: center;
					width: 80%;
					margin: 0 auto;
					text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
					position: relative;
					z-index: 2;
				}
			}

			&.menu {
				position: relative;
				z-index: 2;

				section {
					margin-bottom: 10px;
					background: #fff;

					div.info {
						border: 7px solid #caa45c;
						display: table;
						padding: 10px;

						h3 {
							width: 50%;
							display: table-cell;
							vertical-align: middle;
							text-align: center;

							img {
								width: 70%;
							}
						}

						p {
							width: 50%;
							font-size: 1.1em;
							line-height: 1.5;
							display: table-cell;
						}
					}
				}
			}
		}
	}

	&#coordinate {
		position: relative;
		padding-bottom: 60px;

		.head {
			background: url("../img/pc/coordinate_bg.jpg") center center;
			background-size: cover;
			background-position: 70% 0;

			p.tx {
				color: #fff;
				text-align: center;
				line-height: 2.0;
				margin: 0 auto;
				width: 80%;
				position: relative;
				z-index: 1;
			}
		}

		.plan {
			width: 100%;
			margin: 20px auto 0;
			background: rgba(255, 255, 255, 0.16);
			padding: 5px 0;
			overflow: hidden;

			> div {
				text-align: center;
				border-bottom: 1px solid #a89870;
				padding: 0 10px;

				&:last-child {
					border-bottom: 0;
				}

				h3 {
					margin: 10px 0 5px;

					img {
						width: 40%;
					}
				}

				p {
					color: #fff;
					font-size: 1.3em;
					line-height: 1.6;
					margin-bottom: 5px;
				}
			}
		}

		.gallery {
			width: (600/640)*100%;
			margin: 0 auto;

			.movie_yt {
				margin: 10px auto;
				position: relative;
				padding-top: 52.5%;
				border: 5px solid #e8b142;

				iframe {
					position: absolute;
					top: 0;
					right: 0;
					width: 100% !important;
					height: 100% !important;
				}
			}
		}
	}

	&#voice {
		background: #f8f4ec;
		position: relative;
		padding-bottom: 60px;

		div.bg {
			position: absolute;
			z-index: 0;
			left: 0;
			top: -70px;
			z-index: 0;
			width: 100%;

			img {
				width: 31.72%;
			}
		}

		p.tx {
			padding-top: 70px;
			text-align: center;
			position: relative;
			z-index: 1;
		}

		ul {
			overflow: hidden;

			li {
				float: left;
				width: 49%;
				margin-bottom: 10px;

				&:nth-of-type(even) {
					float: right;
				}

				p {
					font-size: 1.1em;
				}
			}
		}
	}

	&#faq {
		background: #f3e7cd;
		padding-bottom: 40px;
		margin-top: 50px;

		p.tx {
			padding-top: 70px;
		}

		ul {
			margin-top: 20px;

			li {
				background: #fff;
				padding: 7px;
				margin-bottom: 10px;

				p {
					&.q {
						background: #fdf7ec url("../img/sp/faq_icon_q.png") 5px 5px no-repeat;
						background-size: 25px auto;
						padding: 3px 3px 3px 35px;
						font-weight: bold;
					}

					&.a {
						background: url("../img/sp/faq_icon_a.png") 5px 5px no-repeat;
						background-size: 25px auto;
						padding: 3px 3px 3px 35px;
					}
				}
			}
		}
	}

	&#access {
		padding-bottom: 20px;
		margin-top: 50px;

		p.tx {
			padding-top: 110px;
		}

		div.frame div#map {
			width: 100%;
			height: 220px;
			margin-top: 20px;
		}

		p.address {
			margin: 20px 0 0;
			text-align: center;
		}

		div.frame div.info {
			p.tel {
				border-top: 1px solid #d7d7d7;
				border-bottom: 1px solid #d7d7d7;
				margin: 5px 0 15px;
				padding: 10px 0 8px;
				font-size: 2.8em;
				line-height: 1;
				font-weight: bold;
				text-align: center;

				img {
					vertical-align: middle;
					margin-right: 10px;
				}
			}

			dl {
				dt {
					background: #f3e9d2;
					text-align: center;
					padding: 15px 0;
					display: inline-block;
					width: 49%;
					vertical-align: top;
					margin-bottom: 10px;
					font-weight: bold;
				}

				dd {
					text-align: left;
					width: 49%;
					padding-left: 15px;
					margin-bottom: 10px;
					display: inline-block;
					vertical-align: top;
					line-height: 1.4;
					font-size: 1.1em;
				}
			}
		}
	}
}
/** footer
/**************************************/
footer p {
	text-align: center;
	padding: 20px 0 60px;
}
/** ajax loading
/**************************************/
div#load_contents_frame {
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	display: none;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 1000;
	background: #fff;
	left: 100%;
	-webkit-transition: left 0.6s ease-in-out;
	transition: left 0.6s ease-in-out;

	&.open {
		left: 0;
	}
}

body.scroll_none {
	overflow: hidden;
}
/** bnr entyr
/**************************************/
.bnr_entry {
	img {
		width: 100%;
	}
}
/** contact
/**************************************/
.contact {
	margin: 30px auto;
	text-align: center;
	width: 100%;

	.title {
		font-size: 1.6em;
		padding: 15px 0;
		border-top: 1px solid #e5e5e5;
		border-bottom: 2px solid #e5e5e5;
		margin-bottom: 30px;
	}

	.tel {
		img {
			width: 80%;
		}
	}

	.tx {
		margin-top: 25px;
		font-size: 1.3em;
	}
}
/** slick
/**************************************/
a.slick-next,
a.slick-prev {
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -25px;
  z-index: 100;
}

a.slick-next {
	right: 10px;
}

a.slick-prev {
	left: 10px;
}
